{% load index %}

{% for field in facet_form %}
    <div class='form-group'>
        {% if forloop.counter != 1 or forloop.counter != 2 %}
            <strong>{{ field.label }}</strong>
            {% for checkbox in field %}
                <div class='checkbox'>
                    {% with  forloop.counter0 as checkboxcounter %}
                        {% with forloop.parentloop.counter0 as parentc %}

                            {{ checkbox }}(
                            {{ facet_count|index:parentc|index:checkboxcounter|index:1 }}
                            )
                            </div>
                        {% endwith %}
                    {% endwith %}
            {% endfor %}
        {% endif %}

    </div>
{% endfor %}