{% extends "base/base.html" %}
{% load cms_tags menu_tags sekizai_tags staticfiles %}

{%block content%}
    <div id="page" class="page">
        <div class = "container">
            <div class="page-header">
                <h1>Organisaties</h1>
            </div>
        </div>

            <div class="well bs-sidebar affix" id="sidebar">
                <ul class="nav nav-pills nav-stacked">
                    <li><a href="#">Organisaties</a></li>
                    <li><a href="#wat">Wat biedt de wetenschapswinkel?</a></li>
                    <li><a href="#aanmerking">Kom ik in aanmerking als aanvrager?</a></li>
                    <li><a href="#indienen">Hoe een vraag indienen?</a></li>
                    <li><a href="#stappenplan">Procedure: stappenplan</a></li>
                    <li><a href="#verwacht">Wat wordt van de aanvrager verwacht?</a></li>
                    <li><a href="#kostprijs">Kostprijs?</a></li>
                </ul>
            </div> <!--col-sm-3-->

            <section id="wat" class="content1-3">
                <div class="container">
                        <div class = "col-md-3"> </div>
                        <div class="col-md-9">
                            <div class="about-content">
                                De Wetenschapswinkel Brussel biedt als dienst van de Vrije Universiteit Brussel wetenschappelijke ondersteuning aan de non-profitsector in de vorm van:

Onderzoek: uitgevoerd door laatstejaarsstudenten in het kader van hun eindwerk. Zij worden begeleid door een ervaren onderzoeker. Een medewerker van de Wetenschapswinkel bemiddelt tijdens het onderzoek tussen de verschillende partijen.
Advies: bij vragen die snel en bondig te beantwoorden zijn zonder dat een uitgebreid onderzoek volgt. De Wetenschapswinkel neemt hiervoor contact op met deskundigen van de universiteit.
Doorverwijzing: voor vragen die niet behandeld kunnen worden door de Wetenschapswinkel. De Wetenschapswinkel brengt de vraagsteller in contact met andere diensten of onderzoeksgroepen binnen de universiteit of met externen.
                            </div>
                        </div>
                </div>
            </section>
            <section id="aanmerking" class="content1-3">
            <div class="container">
                    <div class = "col-md-3"> </div>
                    <div class="col-md-9">
                        <div class="about-content">
                            Enkel non-profitorganisaties komen in aanmerking.
Criteria

U heeft niet de financiële middelen in huis om onderzoek te (laten) doen
U heeft niet de expertise in huis om het onderzoek zelf te doen
Er zijn geen commerciële doeleinden mee gemoeid
Uitzonderingen

Vragen van KMO's of van overheidsinstanties: worden behandeld als ze niet in aanmerking komen voor contractonderzoek. Kapitaalkrachtige organisaties worden doorverwezen naar de Interfacedienst van de universiteit.
                        </div>
                    </div>
            </div>
        </section>
        <section id="indienen" class="content1-3">
            <div class="container">
                    <div class = "col-md-3"> </div>
                    <div class="col-md-9">
                        <div class="about-content">
                            Thema's

Welzijn & gezondheid - diversiteit - onderwijs - seksuele gezondheid - cultuur - communicatie - ouderen - jongeren - gender - mobiliteit - duurzaamheid...

Inspiratie?

Tijdens het voorbije decennium kregen tientallen organisaties al een antwoord op hun onderzoeksvraag. Grasduin in de reeds afgeronde onderzoeken om een idee te krijgen van welke onderzoeken er zoal via de Wetenschapswinkel gebeuren.
                        </div>
                    </div>
            </div>
        </section>
        <section id="stappenplan" class="content1-3">
            <div class="container">
                    <div class = "col-md-3"> </div>
                    <div class="col-md-9">
                        <div class="about-content">
                            Intakegesprek. Zodra wij uw aanvraag ontvangen hebben, contacteert een medewerker van de Wetenschapswinkel u om de onderzoeksvraag te bespreken en onze werkwijze toe te lichten. 

Intakeverslag. De medewerker past uw onderzoeksvraag ev. aan op basis van het intakegesprek en stuurt het na uw goedkeuring naar de adviesraad. 

Adviesraad. Deze groep van onderzoekers, promotoren, R&D-medewerkers... brengt binnen een termijn van 2 weken advies uit over de inkomende onderzoeksvragen bij de Wetenschapswinkel. Dit advies omvat uitspraken over welke vragen wel of niet verder behandeld mogen worden door de Wetenschapswinkel Brussel en over welke faculteiten, vakgroepen en/of onderzoekers geraadpleegd kunnen worden. 

Publicatie in databank. Na fiat van de adviesraad komt uw onderzoeksvraag terecht in de Wetenschapswinkeldatabank. In die databank kunnen studenten zoeken op organisatie, opleiding, thema... Wij bezorgen een ev. geïnteresseerde student uw contactgegevens, waarop zij/hij zichzelf en een samenwerking voorstelt. Als jullie beslissen samen te werken, zoekt de student een promotor. 

Startvergadering. Eenmaal de student een promotor heeft, organiseert de Wetenschapswinkel een startvergadering met alle partijen: organisatie, promotor en student. Tijdens deze samenkomst worden de verwachtingen op elkaar afgestemd en wordt het onderzoek ruw gepland. De startvergadering is het officiële begin van het masterproefonderzoek. Hierna verloopt het contact voornamelijk tussen organisatie-student (literatuur, contactpersonen, inhoudelijk advies...) en tussen promotor-student (controle van de wetenschappelijke geldigheid). De Wetenschapswinkel is niet inhoudelijk betrokken maar geldt als aanspreekpunt bij problemen, biedt gratis literatuur en voice recorders aan etc.
Indien het onderzoek de omvang van studentenonderzoek overstijgt, wordt doorverwezen naar een onderzoeksgroep. Zodra het onderzoek van start gaat, wordt het proces niet verder door de Wetenschapswinkel opgevolgd.
                        </div>
                    </div>
            </div>
        </section>

        <section id="verwacht" class="content1-3">
            <div class="container">
                    <div class = "col-md-3"> </div>
                    <div class="col-md-9">
                        <div class="about-content">
                            {% placeholder "Wat wordt er verwacht?" %}
                        </div>
                    </div>
            </div>
        </section>
        <section id="kostprijs" class="content1-3">
        <div class="container">
                <div class = "col-md-3"> </div>
                <div class="col-md-9">
                    <div class="about-content">
                        Van de aanvrager wordt verwacht dat die:

Voldoende inhoudelijke input geeft om de onderzoeksvraag af te bakenen.
Onderzoeksmateriaal aanlevert.
Voldoende tijd, menskracht en indien nodig faciliteiten beschikbaar stelt voor het onderzoek.
Deelneemt aan de startvergadering aan het begin van het onderzoek.
Na afronding van het onderzoek de overeengekomen financiële bijdrage levert (indien een kostenbegroting werd opgemaakt).
                        Aangezien de Wetenschapswinkel zich richt tot non-profitorganisaties, proberen we de kosten uiteraard zo laag mogelijk te houden.
                    </div>
                </div>
        </div>
    </section>
</div>
 {% endblock %}
