{% extends "base/base.html" %}
{% load static %}
{% block extra_head %}
{% endblock %}

{% block content %}
    <div class='container'>
        <form action="{% url 'register_organisation' %}" method="post">
            {% csrf_token %}
            <div class='panel panel-info'>
                <div class='panel panel-heading'>
                    <h1>Registreer uw organisatie</h1>
                </div>
                <div class='panel panel-body'>
                    <div class='row'>
                        <h3> Informatie Organisatie</h3>
                    </div>
                    <div class="col-md-6">
                        <div class='form-group row{% if organisation_form.name.errors %} has-error{% endif %}'>
                            {% if organisation_form.name.errors %}
                                <label class="control-label"
                                       for="id_organisation-name">{{ organisation_form.name.errors }}</label>
                                <span class="glyphicon glyphicon-remove form-control-feedback"
                                      aria-hidden="true"></span>
                            {% endif %}
                            <div class="col-md-4">
                                {{ organisation_form.name.label_tag }}
                            </div>
                            <div class="col-md-6">
                                {{ organisation_form.name }}
                            </div>
                        </div>


                        <div class='form-group row{% if organisation_form.legal_entity.errors %} has-error{% endif %}'>
                            {% if organisation_form.legal_entity.errors %}
                                <label class="control-label" for="id_legal_entity">organisation_form.name.errors</label>
                                <span class="glyphicon glyphicon-remove form-control-feedback"
                                      aria-hidden="true"></span>
                            {% endif %}
                            <div class="col-md-4">
                                {{ organisation_form.legal_entity.label_tag }}
                            </div>
                            <div class="col-md-6">
                                {{ organisation_form.legal_entity }}
                            </div>
                        </div>
                    </div>

                    <div class='col-md-6'>
                        <div class='form-group row{% if organisation_form.recognised_abbreviation.errors %} has-error{% endif %}'>
                            {% if organisation_form.recognised_abbreviation.errors %}
                                <label class="control-label" for="id_recognised_abbreviation">organisation_form.name.errors</label>
                                <span class="glyphicon glyphicon-remove form-control-feedback"
                                      aria-hidden="true"></span>
                            {% endif %}
                            <div class="col-md-4">
                                {{ organisation_form.recognised_abbreviation.label_tag }}
                            </div>
                            <div class="col-md-3">
                                {{ organisation_form.recognised_abbreviation }}
                            </div>
                        </div>

                        <div class='form-group row{% if organisation_form.type.errors %} has-error{% endif %}'>
                            {% if organisation_form.type.errors %}
                                <label class="control-label" for="id_type">organisation_form.name.errors</label>
                                <span class="glyphicon glyphicon-remove form-control-feedback"
                                      aria-hidden="true"></span>
                            {% endif %}
                            <div class="col-md-4">
                                {{ organisation_form.type.label_tag }}
                            </div>
                            <div class="col-md-3">
                                {{ organisation_form.type }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class='panel panel-body'>
                    <div class="row">
                        <h3>Contact gegevens organisatie</h3>
                    </div>
                    <div class="col-md-6">
                        <div class='form-group row{% if organisation_form.telephone.errors %} has-error{% endif %}'>
                            {% if organisation_form.telephone.errors %}
                                <label class="control-label"
                                       for="id_organisation-telephone">{{ organisation_form.telephone.errors }}</label>
                                <span class="glyphicon glyphicon-remove form-control-feedback"
                                      aria-hidden="true"></span>
                            {% endif %}
                            <div class="col-md-4">
                                {{ organisation_form.telephone.label_tag }}
                            </div>
                            <div class="col-md-6">
                                {{ organisation_form.telephone }}
                            </div>
                        </div>
                        <div class='form-group row{% if organisation_form.mail.errors %} has-error{% endif %}'>

                            <div class="col-md-4">
                                {{ organisation_form.mail.label_tag }}
                            </div>
                            <div class="col-md-6">
                                {{ organisation_form.mail }}
                                {% if organisation_form.mail.errors %}
                                    <label class="control-label"
                                           for="id_organisation-mail">
                                        {% for error in organisation_form.mail.errors %}
                                            {{ error }}{% endfor %}</label>
                                {% endif %}

                            </div>


                        </div>

                    </div>
                    <div class="col-md-6">
                        <div class='form-group row{% if organisation_form.telephone.errors %} has-error{% endif %}'>
                            {% if organisation_form.telephone.errors %}
                                <label class="control-label"
                                       for="id_organisation-website">{{ organisation_form.website.errors }}</label>
                                <span class="glyphicon glyphicon-remove form-control-feedback"
                                      aria-hidden="true"></span>
                            {% endif %}
                            <div class="col-md-4">
                                {{ organisation_form.website.label_tag }}
                            </div>
                            <div class="col-md-6">
                                {{ organisation_form.website }}
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class='form-group row{% if organisation_form.fax.errors %} has-error{% endif %}'>
                            {% if organisation_form.fax.errors %}
                                <label class="control-label"
                                       for="id_organisation-fax">{{ organisation_form.fax.errors }}</label>
                                <span class="glyphicon glyphicon-remove form-control-feedback"
                                      aria-hidden="true"></span>
                            {% endif %}
                            <div class="col-md-4">
                                {{ organisation_form.fax.label_tag }}
                            </div>
                            <div class="col-md-6">
                                {{ organisation_form.fax }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class=" panel panel-body">
                    <div class='row'>
                        <h3>Adres organisatie</h3>
                    </div>
                    <div class='row'>
                        <div class="col-md-6">
                            <div class="form-group row">
                                {{ address_form.street_name.errors }}
                                <div class='col-md-3'>
                                    {{ address_form.street_name.label_tag }}
                                </div>
                                <div class='col-md-6'>
                                    {{ address_form.street_name }}
                                </div>
                            </div>

                            <div class="form-group row">
                                {{ address_form.street_number.errors }}
                                <div class='col-md-3'>
                                    {{ address_form.street_number.label_tag }}
                                </div>
                                <div class='col-md-2'>
                                    {{ address_form.street_number }}
                                </div>
                            </div>

                            <div class="form-group row">
                                {{ address_form.province.errors }}
                                <div class='col-md-3'>
                                    {{ address_form.province.label_tag }}
                                </div>
                                <div class='col-md-4'>
                                    {{ address_form.province }}
                                </div>
                            </div>

                        </div>

                        <div class="col-md-6">
                            <div class="form-group row">
                                {{ address_form.city.errors }}
                                <div class='col-md-3'>
                                    {{ address_form.city.label_tag }}
                                </div>
                                <div class='col-md-6'>
                                    {{ address_form.city }}
                                </div>
                            </div>
                            <div class="form-group row">
                                {{ address_form.postal_code.errors }}
                                <div class='col-md-3'>
                                    {{ address_form.postal_code.label_tag }}
                                </div>
                                <div class='col-md-3'>
                                    {{ address_form.postal_code }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class=" panel panel-body">
                    <div class='row'>
                        <h3>Extra Gegevens</h3>
                    </div>
                    <div class='row'>
                        <div class="col-md-6">
                            <div class="form-group row">
                                {{ organisation_form.goal.errors }}
                                <div class='col-md-3'>
                                    {{ organisation_form.goal.label_tag }}
                                </div>
                                <div class='col-md-6'>
                                    {{ organisation_form.goal }}
                                </div>
                            </div>
                            <div class="form-group row">
                                {{ organisation_form.know_from.errors }}
                                <div class='col-md-3'>
                                    {{ organisation_form.know_from.label_tag }}
                                </div>
                                <div class='col-md-6'>
                                    {{ organisation_form.know_from }}
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group row">
                                {{ organisation_form.remarks.errors }}
                                <div class='col-md-3'>
                                    {{ organisation_form.remarks.label_tag }}
                                </div>
                                <div class='col-md-6'>
                                    {{ organisation_form.remarks }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class=" panel panel-body">
                    <div class='row'>
                        <h3>Contact gegevens gebruiker</h3>
                    </div>
                    <div class='row'>
                        <div class="col-md-6">
                            {% for field in user_form %}
                            <div class="form-group row">
                                {{ field.errors }}
                                <div class='col-md-3'>
                                    {{ field.label_tag }}
                                </div>
                                <div class='col-md-6'>
                                    {{ field }}
                                </div>
                            </div>
                            {% endfor %}

                            <div class="row">
                                <input type="submit" class="btn btn-info" value='Registreer'>
                            </div>
                        </div>
        </form>
    </div>
{% endblock %}