{% extends "base/base.html" %}
{% load cms_tags menu_tags sekizai_tags staticfiles %}

{% block extra_head %}
{% endblock %}


{%block content%}

    <div id="page" class="page">
    <div class = "container">
        <div class="page-header">
            <h1>Studenten</h1>
        </div>
        </div>
                <div class="well bs-sidebar affix" id="sidebar">
                    <ul class="nav nav-pills nav-stacked">
                        <li><a href="#">Studenten</a></li>
                        <li><a href="#wat">Wat biedt de Wetenschapswinkel?</a></li>
                        <li><a href="#waarom">Waarom een scriptie schrijven<br> bij de Wetenschapswinkel?</a></li>
                        <li><a href="#hoe">Hoe vind ik een interessant onderwerp</a></li>
                        <li><a href="#stappenplan">Stappenplan</a></li>
                    </ul>
                </div> <!--well bs-sidebar affix-->

            <section id="wat" class="content1-3">
                <div class="container">
                    <div class = "col-md-3"> </div>
                        <div class="col-md-9">
                            <div class="about-content">
                                De Wetenschapswinkel tracht non-profitorganisaties wetenschappelijk te ondersteunen, met onderzoek uitgevoerd door laatstejaarsstudenten in het kader van hun eindwerk. Een student maakt zo via de Wetenschapswinkel een maatschappelijk relevant onderzoek op vraag van en in samenwerking met een organisatie.

De onderzoeksvraag van een non-profitorganisatie vormt de probleemstelling van het onderzoek van een student. De wetenschappelijke begeleiding is in handen van de promotor. De Wetenschapswinkel bemiddelt tijdens het onderzoeksproces tussen de verschillende partijen en biedt de student gratis diensten.
                            </div>
                        </div>
                </div>
            </section>

            <section id="waarom" class="content1-3">
                <div class="container">
                        <div class = "col-md-3"> </div>
                        <div class="col-md-9">
                            <div class="about-content">
                                Aangezien je masterproef een antwoord biedt op een vraag die echt leeft in de non-profit, is het een nuttig en vooral maatschappelijk relevant werk.

Je breidt je netwerk uit door contact met een organisatie in het werkveld. Dit kan zeer nuttig zijn met het oog op je toekomstige loopbaan.

Je kunt gratis voice recorders en onderzoeksliteratuur lenen bij de Wetenschapswinkel.

Je kunt gratis een workshop wetenschappelijk schrijven volgen. Een VUB-taalkundige beantwoordt ook jouw persoonlijke (taalkundige) masterproefvragen.

Indien je moeilijkheden ondervindt, kan je steeds terugvallen op een bemiddelaar.

De Wetenschapswinkeldatabank barst van de ideeën/inspiratie voor masterproefonderwerpen.

Je krijgt extra begeleiding bij het opstellen van een degelijke wetenschappelijke onderzoeksvraag en de uitwerking van je thesis.

Je verricht praktijkgericht onderzoek en doet dus praktijkervaring op in het werkveld. Je leert de theorie uit je opleiding zo toepassen in de praktijk.
De eventuele kosten van je onderzoek kunnen vergoed worden door de organisatie.

De resultaten van je masterproefonderzoek kunnen openbaar gemaakt worden in de vorm van een persbericht, een persconferentie, een populair rapport, een infodag, een seminarie, een congres, een adviesrapport naar de overheid, een brochure...
                            </div>
                        </div>
                </div>
            </section>

         <section id="hoe" class="content1-3">
                <div class="container">
                        <div class = "col-md-3"> </div>
                        <div class="col-md-9">
                            <div class="about-content">
                                Databank
Een overzicht van alle onderwerpen vind je in de Wetenschapswinkeldatabank.

Wetenschapswinkel
Voor meer inhoudelijke informatie over de onderwerpen kan je contact opnemen met de Wetenschapswinkel. Wij geven je de contactgegevens van de desbetreffende organisatie, die al je vragen over hun onderzoeksvraag zal beantwoorden
                            </div>
                        </div>
                </div>
            </section>

         <section id="stappenplan" class="content1-3">
                <div class="container">
                        <div class = "col-md-3"> </div>
                        <div class="col-md-9">
                            <div class="about-content">
                                Optie nemen: Meld aan de Wetenschapswinkel welk onderwerp je interessant lijkt om te onderzoeken. Wij zetten het ‘in optie' en bezorgen je de contactgegevens van de organisatie. Je stelt jezelf en een samenwerking voor aan de organisatie en/of stelt hen nog extra vragen over het onderzoek die je hebt. Als jullie beslissen samen te werken, meld je dat aan de Wetenschapswinkel.

Promotor zoeken: Vervolgens ga je op zoek naar een promotor. Vaak kan de Wetenschapswinkel alvast enkele onderzoekers suggereren wiens expertise aanleunt bij de onderzoeksvraag. Zodra je een promotor gevonden hebt, meld je dat aan de Wetenschapswinkel.

Startvergadering: Jij, je promotor, de organisatie en de Wetenschapswinkel zitten eenmalig allemaal samen om de verwachtingen op elkaar af te stemmen en je onderzoeksopzet (onderzoeksvraag, -methode en planning) te bespreken. Deze samenkomst is het officiële begin van je masterproefonderzoek.

Tijdens het onderzoek:
Je onderhoudt nauw contact met je promotor. Hij/zij zal je wetenschappelijk en inhoudelijk gidsen doorheen je onderzoek.
Je brieft de organisatie regelmatig over je vorderingen. De organisatie kan je helpen bij het vinden van onderzoeksmateriaal (bv. literatuur, respondenten, deskundigen …) en je inhoudelijk ondersteunen.
De Wetenschapswinkel vraagt af en toe hoe je onderzoek vordert en bemiddelt in geval van problemen. Daarnaast bieden we gratis onderzoeksliteratuur en digitale voice recorders aan die je kan lenen. 

Na het onderzoek: Als je geslaagd bent voor je onderzoek (minstens 10/20)
wordt je onderzoeksrapport overhandigd aan de organisatie. De Wetenschapswinkel drukt een exemplaar af en stuurt het naar de organisatie.

Vergoeding: Indien er voor de start van het onderzoek een kostenbegroting werd opgemaakt, ontvang je na oplevering van je onderzoeksrapport het overeengekomen bedrag. Kosten waar van tevoren geen afspraken over werden gemaakt, worden niet vergoed. 

Promotie: Promotie kan gemaakt worden op verschillende manieren: via een persbericht, artikel, studiedag … Jij en je promotor worden hierbij, als auteurs van het onderzoek, uiteaard zo nauw mogelijk betrokken.
                            </div>
                        </div>
                </div>
            </section>
    </div>
</div>
 {% endblock %}
