**/*.pyc
.idea/
custom_users/__pycache__/
custom_users/migrations/__pycache__/
dbwwinkel/__pycache__/
dbwwinkel/migrations/__pycache__/
wwinkel/__pycache__/
db.sqlite3
**/migrations/*.py

# Do not ignore this file.
!custom_users/migrations/0001_initial.py


schema.xml

custom_users/migrations/0002_auto_20170401_0938.py
