{% load cms_tags sekizai_tags static menu_tags  %}
<!doctype html>
<html>
    <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> Base</title>

    <link rel="stylesheet" href="{% static 'dbwwinkel/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'dbwwinkel/css/wwinkel.css' %} ">


  {% block extra_head %}{% endblock %}
    {% render_block "css" %}
    </head>

    <body>

    {% cms_toolbar %}
        <nav class="navbar navbar-t navbar-inverse bg-inverse navbar-fixed-top">
            <ul class="nav navbar-nav">
             {%  show_menu 0 100 100 100 "base/menu.html"%}
            </ul>
             <ul class = "nav navbar-nav navbar-center">
              <li class="nav-item">
                 <form action =  "{% url 'list_questions' %}" >
                    <div class ="form-inline">
                    <input type ="text" placeholder="zoek een vraag">
                    <button type="submit" class="btn btn-default">
                        <i class ="glyphicon glyphicon-search"></i>
                        </button>
                    </div>
                    </form>
                </li>
            </ul>


            <ul class="nav navbar-nav navbar-right">
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a href="{% url 'register_question' %}">Stel een vraag</a>
                    </li>

                    <li class="nav-item">
                    <a href="{% url 'logout' %}">Afmelden</a>
                    </li>
                {% else %}
                <li class="nav-item">
                    <a href= "{% url 'register_user' %}">Registreer</a>
                </li>
                <li class="nav-item">
                    <a href={% url 'login' %}>Aanmelden</a>
                </li>
                {% endif %}
            </ul>


</nav>




           {% block content %}{% endblock content %}




    <script src="{% static 'dbwwinkel/js/jquery-3.2.0.min.js' %}"></script>
    <script src="{% static "dbwwinkel/js/bootstrap.js " %}"></script>
    {% block extra_scripts %}{% endblock %}

    <!-- Include all compiled plugins (below), or include individual files as needed -->
    {% render_block "js" %}
    </body>


</html>

