
{% load menu_tags staticfiles %}
        {% for child in children %}
            <li class="nav-item{% if child.selected %}
                nav-item active{% endif %}
                {% if child.ancestor %}nav-item{% endif %}
                {% if child.sibling %}nav-item{% endif %}
                {% if child.descendant %}nav-item{% endif %}">

                <a href="{{ child.attr.redirect_url|default:child.get_absolute_url }}">{{ child.get_menu_title }}</a>
                {% if child.children %}
                     <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="nav navbar-nav">
                            {% show_menu from_level to_level extra_inactive extra_active template "" "" child %}
                        </ul>
                     </div>
                {% endif %}
            </li>
    {% endfor %}
