{% extends "base/base.html" %}
{% load cms_tags menu_tags sekizai_tags staticfiles index %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="page-header">
                <div class="container">
                    <h1>Detail weergave vraag</h1>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="span2 sidebar">
                <h2>Opties</h2>
                <ul class="nav nav-tabs nav-stacked">

                    {% if question.state == question.NEW_QUESTION and user.is_central_manager %}
                        <li>
                            <strong>Toewijzen voor intake:</strong>
                            <form name="region" action="{% url "distribute_intake" question.id %}" method='post'
                                  accept-charset="utf-8">
                                {% csrf_token %}
                                {% for region in region_lst %}
                                    <input type="radio" value="{{ region.region }}" name="region"> {{ region.get_region_display}}<br>
                                {% endfor %}
                                <div class="row form-group">
                                    <button type="submit" value="select">toewijzen</button>
                                </div>
                            </form>
                        </li>
                    {% endif %}

                    {% if question.state == question.INTAKE_QUESTION and question|question_regional_user:user %}
                        <li><a href='{% url 'finish_intake' question.id %}'>Rond intake af</a></li>
                    {% endif %}

                    {% if question.state == question.IN_PROGRESS_QUESTION_CENTRAL and user.is_central_manager %}
                        <li>
                        <strong>Toewijzen aan regio(s):</strong>
                        <form name="region" action="{% url "distribute_question_public" question.id %}"
                              method='post'
                              accept-charset="utf-8">
                            {% csrf_token %}
                            {% for region in region_lst %}
                                <div class="row form-group">
                                    <input type="checkbox" value="{{ region.region }}" name="region">
                                    {{ region.get_region_display }}
                                </div>
                            {% endfor %}
                            <div class="row form-group">
                                <button type="submit" value="select">toewijzen</button>
                            </div>
                        </form>
                    {% endif %}

                    {% if question.state == question.IN_PROGRESS_QUESTION_REGIONAL and question|question_regional_user:user %}
                        <li><a href='{% url 'open_question' question.id %}'>Zet vraag publiek</a></li>
                    {% endif %}

                    {% if question.state == question.PUBLIC_QUESTION and question|question_regional_user:user %}
                        <li><a href='{% url 'reserve_question' question.id %}'>Reserveer vraag</a></li>
                    {% endif %}

                    {% if question.state.PUBLIC_QUESTION and question|question_user_region_in_process:user %}
                        <li><a href = '{% url 'open_question' question.id %}'>Vraag verwerkt</a></li>
                    {% endif %}

                    {% if question.state == question.RESERVED_QUESTION and question|question_regional_user:user %}
                        <li><a href='{% url 'assign_question' question.id %}'>Wijs vraag toe</a></li>
                        <li><a href='{% url 'open_question' question.id %}'>Zet vraag terug open</a></li>
                    {% endif %}

                    {% if question.state == question.ONGOING_QUESTION and question|question_regional_user:user %}
                        <li><a href='{% url 'round_up_question' question.id %}'>Rond vraag af</a></li>
                    {% endif %}

                    {% if question|question_regional_user:user or user.is_central_manager%}

                            <li><a href= {% url "edit_question" question.id %}>Vraag wijzigen</a></li>
                            <li><a href= {% url "internal_remark" question.id %}>Opmerking toevoegen</a></li>
                            <li><a href= {% url 'edit_meta_info' question.id %}> Bewerk extra info</a></li>

                    {% endif %}

                    {% if user.is_central_manager or question|question_regional_user:user  %}
                        <li><a href= {% url "deny_question" question.id %}>Vraag weigeren</a></li>
                        <li><a href={% url "revoke_question" question.id %}>Vraag terugtrekken</a></li>
                    {% endif %}

                    {% if not user.is_authenticated %}
                        <li><a href = {% url 'interested_in_question' question.id %}>Ik heb interesse in deze vraag</a></li>
                    {% endif %}
                    <li><a href='{% if not user.is_authenticated or user.is_organisation %}
                                    {% url 'list_questions' %}
                                {% else %}
                                {% url 'admin_to_process' %}{% endif %}'>Terug</a></li>
                </ul>
                <!--/sidebar-nav-fixed -->
            </div>
        </div>
        <div class="col-md-10">
            <div class="container">
                <div class="panel panel-info">
                    <div class='panel-heading'>
                        <h2><strong>Vraag: </strong>{{ question.question_text }}</h2>
                    </div>
                    <div class="panel panel-body">
                        <div class=col-md-4>
                            <h3>Organisatie</h3>
                            <strong>Naam: </strong> {{ organisation.name }}<br>
                            <strong>Straat: </strong> {{ organisation.address.street_name }}<br>
                            <strong>Nummer: </strong> {{ organisation.address.street_number }}<br>
                            <strong>Plaats: </strong> {{ organisation.address.postal_code }} {{ organisation.address.city }}
                            <br>
                            <strong>Tel: </strong> {{ organisation.telephone }} <br>
                            <strong>Website:</strong> <a href="http://{{ organisation.website }}"
                                                         target="_blank">{{ organisation.website }}</a>
                        </div>

                        <div class=col-md-4>
                            <h3>Contactpersoon</h3>
                            <strong>Naam: </strong> {{ organisation.organisationuser.first_name }}
                            {{ organisation.organisationuser.last_name }}<br>
                            <strong>Email: </strong> {{ organisation.organisationuser.email }}<br>
                            <strong>Tel:</strong> {{ organisation.organisationuser.telephone }}
                        </div>
                        <div class="col-md-4">
                            <h3>Info </h3>
                            <strong>Status: </strong>{{ question.get_state_display }} <br>
                            <strong>Regio(s)</strong>:
                            {% for region in question.region.all %}
                                {{ region }}
                            {% endfor %}<br>
                            <strong>Instelling(en)</strong>{% for institution  in question.institution.all %}
                            {{ institution }}{% endfor %}<br>
                            <strong>Onderzoeksveld(en):</strong>
                            {% for study_field in question.education.all %}
                                {{ study_field }}
                            {% endfor %}<br>
                            <strong>Onderwerp(en): </strong>
                            {% for subject in question.question_subject.all %}
                                {{ subject }}
                            {% endfor %}<br>
                            {% if question.state == question.PUBLIC_QUESTION and question|question_regional_user:user %}
                                <strong>Potentiële studenten</strong>
                                {% for student in question.potential_students.all %}
                                    <a href = '{% url 'student_detail' student.id %}'> {{ student }}</a>
                                {% endfor %}<br>
                            {% endif %}

                            {% if question.state == question.ONGOING_QUESTION  and question|question_regional_user:user %}
                                <strong>Student</strong>: <a href="{% url 'student_detail' question.student.id %}">{{ question.student }}</a>
                            {% endif %}

                        {% if question.state == question.RESERVED_QUESTION  and question|question_regional_user:user %}
                                <strong>Student</strong>: <a href="{% url 'student_detail' question.student.id %}">{{ question.student }}</a>
                            {% endif %}

                        </div>

                    </div>

                    <div class='panel-body'>
                        <h3>Doel van de organisatie:</h3>
                        {{ organisation.goal }}
                    </div>

                    <div class='panel-body'>
                        <h3>Hoe is uw vraag ontstaan?</h3>
                        {{ question.reason }}
                    </div>

                    <div class='panel-body'>
                        <h3>Hoe wilt u de resultaten van uw vraag gebruiken?</h3>
                        {{ question.purpose }}
                    </div>

                    <div class='panel-body'>
                        <h3>Deadline vraag:</h3>
                        {% if question.deadline == Null %}
                            Geen
                        {% else %}
                            {{ question.deadline }}
                        {% endif %}

                    </div>

                    <div class='panel-body'>
                        <h3>In welke mate kunt u een bijdrage leveren aan de kosten?</h3>
                        {{ question.own_contribution }}
                    </div>

                    <div class='panel-body'>
                        <h3>Gaat u ermee akkoord dat de resultaten openbaar zijn en gepubliceerd worden?</h3>
                        {% if question.public == True %}
                            Ja
                        {% else %}
                            Nee
                        {% endif %}
                    </div>

                    <div class='panel-body'>
                        <h3>Opmerkingen</h3>
                        {{ question.remarks }}
                    </div>
                    {% if internal == True %}
                        <div class='panel-body'>
                            <h3>Interne opmerkingen</h3>
                            <p style='color:green'>{{ question.internal_remarks }}</p>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

