{% extends "base/base.html" %}
{% load cms_tags menu_tags sekizai_tags staticfiles %}

{% block extra_head %}
{% endblock %}


{% block content %}

    <div id="page" class="page">
        <div class="container">
            <div class="page-header">
                <h1>Studenten</h1>
            </div>
        </div>
        <div class="well bs-sidebar affix" id="sidebar">
            <ul class="nav nav-pills nav-stacked">
                <li><a href="#">Van de Wetenschapswinkel</a></li>
                <li><a href="#wat">Thesisonderzoek?</a></li>
                <li><a href="#waarom">Nieuwsbrieven</a></li>
            </ul>
        </div> <!--well bs-sidebar affix-->

        <section id="wat" class="content1-3">
            <div class="container">
                <div class="col-md-3"></div>
                <div class="col-md-9">
                    <div class="about-content">
                        {% placeholder "Thesisonderzoeken" %}
                    </div>
                </div>
            </div>
        </section>

        <section id="waarom" class="content1-3">
            <div class="container">
                <div class="col-md-3"></div>
                <div class="col-md-9">
                    <div class="about-content">
                        {% placeholder "Nieuwsbrieven" %}
                    </div>
                </div>
            </div>
        </section>

    </div>

{% endblock %}