{% extends "base/base.html" %}
{% load cms_tags menu_tags sekizai_tags staticfiles %}

{% block content %}
    <div class = "container">
        <div class="row">
            <div class = "col-md-10">
                <h1>{{ "Toegang geweigerd" }}</h1>
                    <p></p>
            </div>
        </div>
    </div>
    <hr />
       <div class = "container">
        <div class="row">
            <div class = "col-md-11">
                <h2>Het lijkt dat je niet de correcte authorizatie hebt om hier te komen.</h2>
            </div>
        </div>
    </div>
    <hr/>



{% endblock %}