{% extends "base/base.html" %}
{% load cms_tags menu_tags sekizai_tags staticfiles %}

{% block content %}
    <div class = "container">
        <div class="row">
            <div class = "col-md-10">
                <h1>{{ "Oops" }}</h1>
                    <p></p>
            </div>
        </div>
    </div>
    <hr />
       <div class = "container">
        <div class="row">
            <div class = "col-md-11">
                <h2>Blijkbaar bestaat wat je zoekt (nog) niet.</h2>
            </div>
        </div>
    </div>
    <hr/>


{% endblock %}