{% extends "base/base.html" %}
{% load cms_tags menu_tags sekizai_tags staticfiles %}

{% block content %}
    <div class = "container">
        <div class="row">
            <div class = "col-md-10">
                <h1>{{ "Internal server error" }}</h1>
                    <p></p>
            </div>
        </div>
    </div>
    <hr />
       <div class = "container">
        <div class="row">
            <div class = "col-md-11">
                <h2>We zijn druk bezig om onze server weer werkend te krijgen, alvast bedankt voor uw begrip.</h2>
            </div>
        </div>
    </div>
    <hr/>



{% endblock %}