
{% extends "base/base.html" %}
{% load cms_tags menu_tags sekizai_tags staticfiles %}
{% block content %}

    <div class="page-header container affix">
        <div class = "col-md-8">
            <h2>What do you get if you multiply six by nine?</h2>
        </div>
        <div class = "col-md-4">
           <button type="submit" class="btn">Optie1</button>
           <button type="submit" class="btn">Optie2</button>
           <button type="submit" class="btn">Optie3</button>
        </div>


    </div>

    <div class="height2">
        <div class ="row">
            <div class = "col-md-12 container">
                <h2>Organisatie</h2>
                <p> Naam: iets <br>
                    Straat: Ergens <br>
                    Nummer: 42 <br>
                    Plaats: -4242 nergens<br>
                    Provincie: overal<br>
                    Nummer: 00 000 00 00
                </p>
            </div>
        </div>
        <div class = "row">
            <div class = "col-md-12 container">
                <h2>Omschrijving organisatie</h2>
                <p>
                    Lorem ipsum dolor sit amet,
                    consectetur adipiscing elit.
                    Phasellus id vulputate enim,
                    pulvinar tempor metus.
                    Donec quis turpis nisl.
                    Nam eget urna a lacus vulputate accumsan.
                    Maecenas accumsan diam quam.
                    Nulla vel tincidunt tellus.
                    Vestibulum ut consequat felis, quis ultricies lacus.
                    Phasellus in mollis dui.
                </p>
            </div>
        </div>
    <div class ="row">
        <div class ="col-md-12 container">
            <h2>Doel organisatie</h2>
            <p>
               Lorem ipsum dolor sit amet,
                consectetur adipiscing elit.
                Phasellus id vulputate enim,
                pulvinar tempor metus.
                Donec quis turpis nisl.
                Nam eget urna a lacus vulputate accumsan.
                Maecenas accumsan diam quam.
                Nulla vel tincidunt tellus.
                Vestibulum ut consequat felis, quis ultricies lacus.
                Phasellus in mollis dui.
            </p>
        </div>
    </div>
    <div class="row">
        <div class = "col-md-12 container">
            <h2>Hoe is uw vraag ontstaan?</h2>
            <p>
                Phasellus volutpat erat eget enim laoreet ullamcorper.
                Aliquam erat volutpat. Praesent velit nisl, laoreet vitae justo ac,
                elementum scelerisque tellus. Orci varius natoque penatibus et magnis dis parturient montes,
                nascetur ridiculus mus. Aliquam semper mi in ligula maximus tincidunt.
                Duis dapibus felis nec ligula convallis auctor quis ut nisi.
                Aliquam ut blandit purus. Cras at enim blandit, sodales urna eget, rutrum massa. Nullam ante lacus,
                laoreet semper dictum non, faucibus vitae sapien. Pellentesque sed orci sit amet ipsum vestibulum mollis.
                Nulla aliquam odio quis enim luctus commodo. Integer et blandit libero, vitae imperdiet est.
                Morbi tempus rutrum mi, nec aliquam leo dapibus vel.

            </p>
        </div>
    </div>
    <div class ="row">
        <div class = "col-md-12 containter">
            <h2>Hoe wilt uw de resultaten van de vraag gebruiken?</h2>
            <p>
                Fusce posuere tellus nulla, non porta neque hendrerit sed. Ut suscipit justo sed accumsan egestas.
                Cras augue eros, vestibulum vel ullamcorper ac, aliquet sed nisi. Quisque fermentum felis in semper lobortis.
                In hac habitasse platea dictumst. Suspendisse vitae libero et lacus maximus posuere eget ut enim.
                Integer in risus nec nisl dignissim maximus. Curabitur lacinia efficitur porttitor.
                Nunc ac eros eu turpis viverra porttitor. Nullam id feugiat ipsum. Donec rutrum turpis nec erat viverra sollicitudin. Nunc non lorem vehicula sapien blandit aliquam. Nulla tempor egestas turpis, et ultrices nibh faucibus mollis

            </p>
        </div>
    </div>
    </div>
{% endblock %}