{% extends "base/base.html" %}
{% load cms_tags menu_tags sekizai_tags staticfiles index %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="page-header">
                <div class="container">
                    <h1>Detail weergave opleiding</h1>
                </div>
            </div>
        </div>

        <div class="col-md-10">
            <div class="container">
                <div class="panel panel-info">
                    <div class='panel-heading'>
                        <h2><strong>Opleiding: </strong>{{ education.education }}</h2><br>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}

