{% extends 'base/base.html' %}
{% load static %}
{% load index %}

{% block extra_head %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <script src="{% static "dbwwinkel/js/myjs.js" %}"></script>


    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3 col-lg-2">
                <div class="sidebar-nav-fixed affix">
                    <div class="well">
                        <ul class="nav ">
                            <form name="status" action="{% url "list_questions" %}" method='GET' accept-charset="utf-8">
                                <input type="hidden" name="search_text" value="{{ search_text }}">
                                    {% if user_type == 'student' %}
                                        {% include 'dbwwinkel/Options_question_list/options_students.html' %}
                                    {% elif user_type == 'manager_user' %}
                                        {% include 'dbwwinkel/Options_question_list/options_admin.html' %}
                                    {% endif %}
                                <input class='btn btn-success' type="submit" value="Filter"/>
                            </form>
                        </ul>
                    </div>
                    <!--/.well -->
                </div>
                <!--/sidebar-nav-fixed -->
            </div>

            <!--/span-->
            <div class="col-md-9 col-lg-10">
                <h3>Gezocht op: {{ search_text }}</h3>
                <table class="table table-hover ">
                    <thead>
                    <tr>
                        <th>Publicatie datum</th>
                        <th>Vraag</th>
                        <th>Deadline</th>
                        <th>Status</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for question in questions %}
                        {# if user.has_perm('view_question', question) Todo: let the permissions work#}
                        {#forloop.counter0 #Todo: limit to first 30 questions (then question 31-60, 61-90,...) #}
                        <tr data-href="{% url 'detail_question' question.object.id %}" class='table table-row'
                            style="cursor:pointer;">

                            <td>{{ question.object.creation_date.date }}</td>
                            <td>{{ question.object.question_text }}</td>
                            <td>{{ question.object.deadline }}</td>
                            <td>{{ question.object.get_state_display }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
{% block extra_scripts %}

{% endblock %}