{% extends 'dbwwinkel/detail_question/detail_question_base.html' %}
{% block options %}
    {% if question.state == question.DRAFT_QUESTION %}
        <strong>Toewijzen voor intake:</strong>
        <form name ="region" action = "{% url "distribute_intake" question.id %}" method = 'post' accept-charset="utf-8">
            {% csrf_token %}
            {% for region in region_lst %}
                <input type ="radio" value = "{{ region.1 }}" name ="region"> {{ region.0 }}<br>
            {% endfor %}
        <div class = "row form-group">
            <button type="submit" value = "select">toewijzen </button>
        </div>
        </form>
    {% endif %}
        <a class="btn btn-danger pull-down" href = {% url "deny_question" question.id %}>Vraag weigeren</a>


{% endblock %}