{% extends 'dbwwinkel/detail_question/detail_question_base.html' %}
{% block options %}
    {% if question.state.state == 3 %}
        <a class="btn btn-success pull-down" href = "{% url 'open_question' question.id %}">Vraag vrijgeven </a>
    {% endif %}

    {% if question.state.state == 5 %}
        <a class="btn btn-success pull-down" href = "{% url 'assign_question' question.id %}">Toewijzen</a>
    {% endif %}

    {% if question.state.state == 6 %}
        <a class="btn btn-success pull-down" href = "{% url 'round_up_question' question.id %}">Afronden</a>
    {% endif %}

{% endblock %}